<div class="container-fluid vh-100 bg-light">
  <div class="row h-100">
    <div class="col-md-8 d-flex flex-column p-3">
      <ul class="nav nav-pills mb-3 bg-white p-2 rounded shadow-sm">
        <li class="nav-item"><a class="nav-link active" href="#">All Items</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Beverages</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Food</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Merch</a></li>
      </ul>

      <div class="row row-cols-2 row-cols-lg-4 g-3 overflow-auto" style="max-height: 85vh;">
        @for (product of ProdList(); track product.id){
            <div class="col">
          <button class="card h-100 w-100 border-0 shadow-sm pos-product-btn p-0" (click)="addToOrder(product)">
            <img src="Images/ProductDummy.jpg" class="card-img-top" alt="Product">
            <div class="card-body p-2 text-center">
              <h6 class="card-title mb-1 text-dark">{{product.name}}</h6>
              <span class="badge bg-success text-white">${{product.price}}</span>
            </div>
          </button>
        </div>
        <div class="counter-container" style="display: none;">
        <div class="liquid-pill">
          <button class="ctrl-btn minus" >—</button>
          <div class="value-display">
            <span class="count-text">{{ ProductCounter() }}</span>
          </div>
          <button class="ctrl-btn plus" >+</button>
        </div>
      </div>
        }@empty {
          <p>No products found in this category.</p>
        }
      </div>
    </div>

    <div class="col-md-4 bg-white border-start d-flex flex-column p-0 mb-0" style="justify-content: space-between;">
      <div class="p-3 border-bottom bg-dark text-white">
        <h5 class="mb-0">Current Order</h5>
      </div>
      <div class="p-3 border-top bg-light">
      <div class="d-flex justify-content-between h4">
        <span>Total</span>
        <span class="text-primary font-weight-bold">${{totalamount()}}</span>
      </div>
      <div class="d-flex justify-content-between ">
        <button class="btn  w-20 btn-lg mt-2 py-3 shadow" (click)="cancelAll()">Cencel </button>
        <button class="btn btn-primary w-70 btn-lg mt-2 py-3 shadow">Checkout</button>
      </div>
    </div>

      <div class="overflow-auto" style="max-height: 70vh; height: 70vh;">
      <div class="container">
        <div class="row">
          <div class="col-12 col-12 d-flex align-items-center py-2 border-bottom font-weight-bold">
            <span class="col-2">Qunat.</span>
            <span class="col-6">Item</span>
            <span class="col-3">Price</span>
            <span class="col-1"></span>
          </div>
          @for (item of cartProd(); track item.id){
            <div class="col-12 d-flex align-items-center py-2 border-bottom">
              <span class="col-2">{{item.quantity}}</span>
              <span class="col-6">{{item.name}}</span>
              <span class="col-3 text-primary font-weight-bold">${{item.price}}</span>
              <button class="btn btn-sm btn-danger col-1" (click)="deleteFromOrder(item)"><i class="bi bi-x-circle"></i></button>
            </div>
          }
        </div>
      </div>
    </div>
    


  </div>
</div>